#container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: red;
}

#wagon{
  width: 25vw;
  height: 10vh;
  font-size: 5vh;
  color: aliceblue;
  text-align: center;
  padding-top: 5vh;
  background-color: blue;
}